fastapi
uvicorn
jinja2
chromadb
openai
gTTS
langchain
langchain_community
pdfminer.six
PyMuPDF
pandas
openpyxl
azure-storage-blob
tiktoken
sentence-transformers
langchain-core
python-dotenv
aiofiles
azure-ai-documentintelligence
azure-core


